version: '3.8'

services:
  db:
    image: danil221/mysql-app:latest
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    volumes:
      - mysql-data:/var/lib/mysql

  web:  # ВАЖНО: имя сервиса 'web', а не 'web-server'
    image: danil221/php-app:latest
    deploy:
      replicas: 3
    ports:
      - "8080:80"
    environment:
      DB_HOST: db
      DB_NAME: appdb
      DB_USER: user
      DB_PASSWORD: userpassword
    depends_on:
      - db

volumes:
  mysql-data:
