version: '3.8'

services:
  db:
    image: danil221/mysql-app:${BUILD_NUMBER}
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    deploy:
      replicas: 1
    volumes:
      - mysql-canary-data:/var/lib/mysql

  web-server:
    image: danil221/php-app:${BUILD_NUMBER}
    deploy:
      replicas: 1
      labels:
        - "traffic.weight=25"
    ports:
      - "8081:80"
    environment:
      DB_HOST: db
      DB_NAME: appdb
      DB_USER: user
      DB_PASSWORD: userpassword
      APP_ENV: canary
    depends_on:
      - db

volumes:
  mysql-canary-data:
