version: '3.8'

services:
  db:
    image: danil221/mysql-app:latest
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
    ports:
      - "3307:3306"
    networks:
      - canary-network
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.jenkins == true  # ⭐ Запускать на ноде с меткой jenkins

  web-server:
    image: danil221/php-app:latest
    environment:
      - DB_HOST=db
      - DB_NAME=appdb
      - DB_USER=root
      - DB_PASS=rootpassword
    ports:
      - "8081:80"
    networks:
      - canary-network
    depends_on:
      - db
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.jenkins == true  # ⭐ Запускать на ноде с меткой jenkins

networks:
  canary-network:
    driver: overlay
    name: app-canary-network
    attachable: true
