version: '3.8'

services:
  db:
    image: danil221/mysql-app:latest
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
    networks:
      - canary-network
    ports:
      - "3306:3306"  # Добавьте порт для отладки

  web-server:
    image: danil221/php-app:latest
    environment:
      - DB_HOST=db
      - DB_NAME=appdb
      - DB_USER=root
      - DB_PASS=rootpassword
    ports:
      - "8081:80"
    networks:
      - canary-network
    depends_on:
      - db

networks:
  canary-network:
    driver: overlay
    # Добавьте явные настройки
    attachable: true
    driver_opts:
      encrypted: ""
