version: '3.8'

services:
  db:
    image: danil221/mysql-app:latest
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: appdb
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
    deploy:
      replicas: 1

  web:
    image: danil221/php-app:latest
    environment:
      - DB_HOST=db
      - DB_NAME=appdb
      - DB_USER=root
      - DB_PASS=rootpassword
    ports:
      - "80:80"
    networks:
      - app-network
    depends_on:
      - db
    deploy:
      replicas: 2

networks:
  app-network:
    driver: overlay

volumes:
  mysql_data:
    driver: local
